# Work with CSV files in Pandas..........

In [4]:
import pandas as pd
import numpy as np

tem = np.array([10, 20, 30, 40, 50])
a = pd.Series(tem)
print(a)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [3]:
import pandas as pd
import numpy as np
D1 = {'a': 100, 'b': 200, 'c': 300,'d': 400, 'e': 800}
new = pd.Series(D1)
print(new)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [7]:
import numpy as np
import pandas as pd
data = pd.Series([25, 5, 75, 11])
print(data)

0    25
1     5
2    75
3    11
dtype: int64

In [3]:
x = ["MCA","UIM"]

In [20]:
df = pd.DataFrame(x)

In [35]:
print(df)

       0
0  india
1  delhi

In [36]:
import pandas as pd
import numpy as np

tem = {
    "Country": ['india','pak','china','australia'],
    "Capital": ['delhi','islamabad','beijing','canberra']
}
a = pd.DataFrame(tem, index=[1,2,3,4])
print(a)

     Country    Capital
1      india      delhi
2        pak  islamabad
3      china    beijing
4  australia   canberra

In [39]:
data = {'Country': ['Belgium',  'India',  'Brazil'],
        'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
        'Population': [11190846, 1303171035, 207847528]}
df = pd.DataFrame(data,columns=['Country',  'Capital'])
print(df)

   Country    Capital
0  Belgium   Brussels
1    India  New Delhi
2   Brazil   Brasilia

In [5]:
import pandas as pd

df = pd.read_csv('dataSet.csv')

print(df)

    ID   NAME
0  101    DEV
1  102    RAM
2  103  SURAJ
3  104  VIPUL

In [12]:
import pandas as pd

df = pd.read_csv('data.csv')
#df = pd.read_csv('MCA.csv')
#df = pd.read_csv('nba.csv')
#print(df)

In [18]:
import pandas as pd
aa = pd.read_csv('MCA.csv')
print(aa)
print("\n")
aa.insert(1,column="Age",value="22")
aa.head()
print(aa)

   id    name      city
0   1    ajai       dun
1   2   vijay       del
2   3    sita    mumbai
3   4    gita      pune
4   5     ram   chennai
5   6  shayam  banglore


   id Age    name      city
0   1  22    ajai       dun
1   2  22   vijay       del
2   3  22    sita    mumbai
3   4  22    gita      pune
4   5  22     ram   chennai
5   6  22  shayam  banglore

In [21]:
import pandas as pd

df = pd.read_csv('dataSet.csv')
print(df)

    ID   NAME
0  101    DEV
1  102    RAM
2  103  SURAJ
3  104  VIPUL

In [19]:
import pandas as pd

df = pd.read_csv('dataSet.csv')
print(df.head(3))

    ID   NAME
0  101    DEV
1  102    RAM
2  103  SURAJ

In [20]:
import pandas as pd

df = pd.read_csv('dataSet.csv')
print(df.tail(3))

    ID   NAME
1  102    RAM
2  103  SURAJ
3  104  VIPUL

In [30]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
..        ...    ...       ...       ...
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [29]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.head())
print(df.head(8))
print(df.tail())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [34]:
import pandas as pd

df = pd.read_csv('data.csv')
new_df = df.dropna()
print(new_df.to_string())
print(new_df.info())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 168
Data columns (total 4 columns):
Duration    164 non-null int64
Pulse       164 non-null int64
Maxpulse    164 non-null int64
Calories    164 non-null float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB
None

In [37]:
import pandas as pd

df = pd.read_csv('data.csv')
df.dropna(inplace = True)
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [38]:
import pandas as pd

df = pd.read_csv('mca.csv')
print(df)

   id    name      city
0   1    ajai       dun
1   2   vijay       del
2   3    sita    mumbai
3   4    gita      pune
4   5     ram   chennai
5   6  shayam  banglore

In [39]:
import pandas as pd
df = pd.read_csv('data.csv')
df.fillna(130, inplace = True)
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112     130.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132     130.0
28         60    100       132     280.0
29         60    102       129     380.3
..        ...    ...       ...       ...
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127     130.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [40]:
import pandas as pd


df= pd.read_csv("exp.csv")

print(df)

df.fillna(12, inplace= True)

print(df.to_string())

     name  sal  add
0     dev  NaN  NaN
1  jitesh  NaN  NaN
2  nitesh  NaN  NaN
3    soni  NaN  NaN
     name   sal   add
0     dev  12.0  12.0
1  jitesh  12.0  12.0
2  nitesh  12.0  12.0
3    soni  12.0  12.0

In [48]:
import pandas as pd
df= pd.read_csv("exp.csv")
df["add"].fillna('doon', inplace= True)
df["sal"].fillna(1500, inplace= True)
print(df)

     name     sal   add
0     dev  1500.0  doon
1  jitesh  1500.0  doon
2  nitesh  1500.0  doon
3    soni  1500.0  doon

In [4]:
import pandas as pd
df= pd.read_csv("exp.csv")
df['add']=None
df

     name  sal   add
0     dev  NaN  None
1  jitesh  NaN  None
2  nitesh  NaN  None
3    soni  NaN  None

In [7]:
import pandas as pd
df= pd.read_csv("exp.csv")
df.loc[:,'add']='doon'
df

     name  sal   add
0     dev  NaN  doon
1  jitesh  NaN  doon
2  nitesh  NaN  doon
3    soni  NaN  doon

In [14]:
import pandas as pd
df= pd.read_csv("exp.csv")
df.dropna()

Empty DataFrame
Columns: [name, sal, add]
Index: []

In [12]:
import pandas as pd
df= pd.read_csv("exp.csv")
df.dropna(how='all',axis=1)

     name
0     dev
1  jitesh
2  nitesh
3    soni

In [16]:
import pandas as pd
df= pd.read_csv("exp.csv")
df.drop_duplicates(subset=['sal'])

  name  sal  add
0  dev  NaN  NaN

In [17]:
import pandas as pd
df= pd.read_csv("exp.csv")
df.drop_duplicates(subset=['sal'],keep='first')

  name  sal  add
0  dev  NaN  NaN

In [18]:
import pandas as pd
df= pd.read_csv("exp.csv")
df.drop_duplicates(subset=['sal'],keep='last')

   name  sal  add
3  soni  NaN  NaN

In [20]:
import pandas as pd
df= pd.read_csv("exp.csv")
df.drop_duplicates(subset=['sal'],keep=False)

Empty DataFrame
Columns: [name, sal, add]
Index: []

In [22]:
import pandas as pd
df= pd.read_csv("exp.csv")
df['name'].value_counts(dropna=False)

nitesh    1
dev       1
jitesh    1
soni      1
Name: name, dtype: int64

In [23]:
import pandas as pd
df= pd.read_csv("exp.csv")
df.isnull()

    name   sal   add
0  False  True  True
1  False  True  True
2  False  True  True
3  False  True  True

In [24]:
import pandas as pd
df= pd.read_csv("exp.csv")
df.notnull()

   name    sal    add
0  True  False  False
1  True  False  False
2  True  False  False
3  True  False  False